<mat-card class="mt-2">
    <mat-card-title>{{headerText}}</mat-card-title>
    <mat-card-content>
        <div class="d-flex flex-row justify-content-center">
            <h1>{{scopeName}}</h1>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <img [src]="scopeSignImageUrl" height="20%" width="20%">
        </div>
        <div class="d-flex d-flex-row justify-content-start">
            <div class="d-flex flex-column">
                <label>Meaning:</label>
            </div>
            <div class="d-flex flex-column ml-2" id="meaning">{{scopeMeaning}}</div>
        </div>
        <div class="d-flex flex-row justify-content-start">
            <div class="d-flex flex-column">
                <label>Duration:</label>
            </div>
            <div class="d-flex flex-column ml-2" id="duration">{{scopeDuration}} days</div>
        </div>
    </mat-card-content>
</mat-card>