<mat-accordion>
    <mat-expansion-panel class="mt-2" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-weight: bold;">About</mat-panel-title>
        </mat-expansion-panel-header>
        <p>FauxScopes is a simple application to compute your actual Horoscope.</p>
        <p>
            Due to the fact that the people who invented Horoscopes were stupid to understand the astronomical
            procession of the stars, what you believe your actual horoscope to be is anything but. This calculator
            will compute your actual sign so that you can still be uninformed about your future.
        </p>
    </mat-expansion-panel>
</mat-accordion>