<mat-accordion>
    <mat-expansion-panel class="mt-2" [expanded]="expanded" (afterCollapse)="onCollapse()">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-weight: bold;" class="color-primary-0">About</mat-panel-title>
        </mat-expansion-panel-header>
        <p>FauxScopes is a simple application to compute your actual Astrological sign.</p>
        <p>
            Due to the fact that the people who invented Horoscopes were too stupid to understand the <i>astronomical</i>
            procession of the stars, what you believe your actual horoscope to be is anything but. This calculator
            will compute your actual sign so that you can still be uninformed about your future.
        </p>
        <p>
            There are a lot of calculators like this app, but they're riddled with adds and collect private data.
            I can assure you no such action is being taken here. Enjoy. For more information see this
            <a href="https://www.inaoep.mx/~frosales/html/zodiac/index.html">link</a>
        </p>
    </mat-expansion-panel>
</mat-accordion>