<mat-card class="mt-2">
    <mat-card-title>Choose Birth Month & Year</mat-card-title>
    <mat-card-content>
        <div class="d-flex flex-row justify-content-around">
            <div>
                <mat-form-field style="max-width: 100px;">
                    <mat-label>Birth Month</mat-label>
                    <mat-select (valueChange)="onMonthSelected($event)" [(value)]="month">
                        <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class='ml-2'>
                <mat-form-field style="max-width: 100px">
                    <mat-label>Birth Day</mat-label>
                    <mat-select [disabled]="true" #birthDay (valueChange)="onDaySelected($event)">
                        <mat-option *ngFor="let day of days" [value]="day">{{day}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>